*{
	margin: 0;
	padding: 0;
	font-family: Sans-Serif;
}

html{
	scroll-behavior: smooth !important;
}

hr{
	width: 15%;
}

a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
}

a:active {
		background-color: #7554ad;
}

.container a:active {
  color: white;
}
@media (hover: hover) {
	 a:hover {
		color: #7554ad;
	}
}

@media (hover: hover) {
	 .container a:hover {
		color: #0d0313;
	}
}
@media (hover: hover) {
	 .container:hover {
	 	transition: 0.4s;
	 	color: white;
		background-color: #7554ad;
		background-blend-mode: overlay;
	}
}

@font-face {
  font-family: customFont;
  src: url(../fonts/Streetwear.otf) format('opentype');
}

.clicked {
	transform: scale(1.08);
}

body{
	background-color: #0d0313 !important;
}

.menu{
	display: flex;
	background-color:#0d0313;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	height: 40px;

}

.menu a{
	text-transform: uppercase;
}

.menu-left{
	color: #fff;
	font-family: customFont;
	margin: 2px 0 0 4%;
}

.menu-right{
	margin: 0 4% 0 0;	
}

.menu-right ul{
	width: 150px;
	background-color: #0d0313;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;

}

.menu-right button{
	display: none;
	border-radius: 4px;
	width: 30px;
	border: 0;
	background-color: #fff;
}


.after-menu{
	display: flex;
	align-items: center;
 	justify-content: center;
 	height: 700px;
	background-image: url("../images/mass.jpg");
	background-position: center;
	background-size: cover;
	
}
.after-menu img{
	max-width: 1100px;
}
.aboutme-section{
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
	background-image: url("../images/aboutme-section.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-color: #7554ad;
	animation-name: grad;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;*/
}

.owner{
	min-width: 350px;
	margin: 0 0 0 4% ;
}

.rocks-left{
	width: 30px;
}

.rocks-right{
	width: 30px;
	transform: scaleX(-1);
}

.me-text h2{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.me-text{
	text-align: center;
	font-size: 12pt;
	padding: 3%;
	margin: 0 4% 0 0;
	max-width: 550px;
	height: 50%;
	background-color: white;
	color: #707374;
	text-transform: uppercase;
}

.location iframe{
	width: 100%;
	height: 300px;
}

.price{
	display: flex;
	justify-content: center;
	padding: 2%;
}

.contact-wrap{
	display: flex;
	flex-flow: column;
}

.contact-wrap font{
	font-size: 50pt;
}

.contact{
	display: flex;
	justify-content: space-around;
	padding: 3%;
}

.container:active {
		background-color: #7554ad;
}

.container a{
	color: #0d0313;
	text-decoration: underline;
	font-size: 10pt;
	transition: 0.4s;
}
.container img{
	width: 50%;
}
.container{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	background-color: white;
	width: 200px;
	height: 350px;
	cursor: pointer;
}

.container h3{
	font-size: 10pt;
}

.container span{
	font-size: 15pt;
	font-weight: bold;
}

/* animations */
@keyframes grad{

	0%{background-color: #7554ad;}
	50%{background-color: #9c54ad;}
	100%{background-color: #7554ad;}
}

/* shadows */
.shadow1{
box-shadow: 1px 2px 37px 9px rgba(0,0,0,0.58);	
}

.shadow2{
	box-shadow: 1px 2px 37px 9px rgb(255,255,255,0.58);
}
