/*--------------------------------------------------------------------------1150*/
@media only screen and (max-width: 1150px){

.after-menu img{
	max-width: 750px;
}
.after-menu{
	height: 600px;
}

.owner{
	margin: 0 0 0 0;
}
.aboutme-section{
	flex-flow: column;
}
.me-text{
	margin: 0 0 0 0;
}

.contact{

	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

}
/*--------------------------------------------------------------------------800*/
@media only screen and (max-width: 800px){

.after-menu img{
	max-width: 550px;
}
.after-menu{
	height: 500px;
}
.owner{
	min-width: 300px;
}

.contact{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

}

/*--------------------------------------------------------------------------600*/
@media only screen and (max-width: 600px){

.after-menu img{
	max-width: 400px;
}
.after-menu{
	height: 500px;

}
.owner{
	width: 250px;
	min-width: 0px;
}

.contact-wrap font{
	font-size: 30pt;
}

.me-text{

	font-size: 11pt;
	
}

/*--------------------------------------------------------------------------450*/
@media only screen and (max-width: 450px){

.menu-button{
	display: block;
}

.menu-button-clicked{
	display: block;
}

.menu-right ul{
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 40px;


}

.menu-right li{
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.after-menu img{
	max-width: 300px;
}
.after-menu{
	height: 400px;

}
.owner{
	width:230px;
	min-width: 0px;
}

.me-text{

	font-size: 10pt;
	
}

}

/*--------------------------------------------------------------------------300*/
@media only screen and (max-width: 300px){

.after-menu img{
	max-width: 230px;
}
.after-menu{
	height: 350px;

}
.owner{
	width: 220px;
	min-width: 0px;
}
.me-text{
	font-size: 8pt;
}
.contact-wrap font{
	font-size: 23pt;
}


}