/*--------------------------------------------------------------------------1400*/
@media only screen and (max-width: 1400px){

.me-text{
	font-size: 10pt;
}
.aboutme-section img{
	width: 30%;
	height: 30%;
}


}
/*--------------------------------------------------------------------------900*/
@media only screen and (max-width: 900px){

.me-text{
	font-size: 7pt;
}
.aboutme-section img{
	width: 30%;
	height: 30%;
}
.container{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	background-color: white;
	width: 60%;
	height: 300px;
	cursor: pointer;
}
.contact{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}
.container img{
	width: 30%;
}
}
/*--------------------------------------------------------------------------600*/
@media only screen and (max-width: 600px){

.me-text{
	font-size: 5pt;
}
.aboutme-section img{
	width: 35%;
	height: 35%;
}
.container{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	background-color: white;
	width: 50%;
	height: 300px;
	cursor: pointer;
}
.container img{
	width: 40%;
}
.contact-wrap font{
	font-size: 35pt;
}

}
/*--------------------------------------------------------------------------450*/
@media only screen and (max-width: 450px){

.after-menu{
	display: flex;
	justify-content: center;
	padding: 30%;
	background-image: url("../images/mass.jpg");
	background-position: center;
	background-size: cover;
	
}

.after-menu img{
	width: 200%;
	height: 80%;
}

.aboutme-section{
	display: flex;
	flex-flow: nowrap column;
	align-content: space-between;

}
.me-text{

	font-size: 7pt;
	padding: 4%;
	margin: 0 0 0 0;
	width: 70%;
	height: 50%;
	background-color: white;
	color: #707374;
	text-transform: uppercase;
}

.aboutme-section img{
	width: 45%;
	height:45%;
}
.contact-wrap font{
	font-size: 18pt;
}
.container{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	background-color: white;
	width: 50%;
	height: 300px;
	cursor: pointer;
}
.container h2{
	font-size: 11pt;
}
.container h3{
	font-size: 9pt;
}


}

